$main-font: 'PT Sans', sans-serif;
$second-font: 'Inter', 'Arial', sans-serif;

$content-width: 1720px;
$breakpoint_xl: 1920px;
$breakpoint_md: 1440px;
$breakpoint_sm: 375px;

$breakpoint_sd: 1200px;
$breakpoint_mind: 865px;


